<footer>
    <div>
        <div>
            <p>
            &copy; Copyright - 2024 | All Rights Reserved <br /> Design and Developed by Parth Jamkhedkar
            </p>
        </div>
        <div>
            <img src="./static/assests/girl.png" alt="">
        </div>
    </div>

    <div>
        <a href="">Linked In</a>
        <a href="">Github</a>
        <a href="">Instagram</a>
        <a href="">Facebook</a>
        <a href="">Medium</a>
        <a href="">Twitter</a>
    </div>
</footer>
</main>
</body>
</html>