<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@700&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/styles/main.css">
    <title><%= pageTitle %></title>
</head>
<body>
<main>
    <header id="header">
        <div class="header-content">
            <div>
                <img src="./static/assests/6920932 1.png" class="title-img" alt="">
            </div>
            <div class="title-menu">
                <div>
                    <h1 class="title">PJ's Book Notes</h1>
                </div>
                <div>
                    <button id="menu-btn" onclick="handler()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
                        </svg>
                    </button>
                    <div id="menu" hidden>
                        <button onclick="handler2()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="50" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                            </svg>
                        </button>
                    <div>
                        <form action="/filter">
                            <select id="sort" name="sort" onchange="this.form.submit()" placeholder="Sort By:">
                                <option value="most-recent">Most Recent</option>
                                <option value="most-oldest">Most Oldest</option>
                                <option value="ratings">High Ratings</option>
                            </select>
                        </form>
                    </div>
                    <div>
                        <a href="./add">Add Book</a>
                    </div>
                </div>
            </div> 

        </div>
        </div>   
        
    </header>